.match-tracker {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Penumbra Half Serif";

  h3 {
    font-weight: bold;
  }
}

.match {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  .order {
    table {
      background-color: $blue1;
      border-color: $blue7;
    }

    table:hover {
      border-color: $blue8;
    }

    tr {
      background-color: $blue3;
    }

    tr:nth-child(odd) {
      background-color: $blue2;
    }
  }

  .chaos {
    table {
      background-color: $red1;
      border-color: $red7;
    }

    table:hover {
      border-color: $red8;
    }

    tr {
      background-color: $red3;
    }

    tr:nth-child(odd) {
      background-color: $red2;
    }
  }
}

.waiting-match {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: "Penumbra Flare";
  font-size: 20px;
}

.streamer-name {
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
}

.center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
