.config-wrapper {
  position: relative;
  background-color: $mauve1;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  overflow: hidden;
  min-height: 100vh;
  overflow-y: auto;
  @media (min-width: 699px) {
    max-height: 700px;
    padding-top: initial;
    display: grid;
    grid-template-columns: minmax(350px, 20vw) 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "aside main"
      "footer footer";
  }
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  margin: 0 2px;
}

.content {
  h2 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;

    span {
      cursor: pointer;
    }
  }

  @media (min-width: 699px) {
    margin: auto 0;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  overflow-y: auto;

  h1 {
    text-align: center;
    font-family: "Squada One";
    text-transform: uppercase;
    text-shadow: 1px 1px 0 $purple8;
    font-size: 1.5em;

    @media (min-width: 699px) {
      font-size: 2em;
    }
  }

  @media (min-width: 699px) {
    justify-content: center;
    align-items: center;
    background-color: $mauve2;
  }
}

.footer {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mauve2;
  gap: 0.2rem;

  @media (min-width: 699px) {
    grid-area: footer;
    font-size: 0.9rem;
    position: initial;
    background-color: $mauve1;
  }
}

.reload {
  position: absolute;
  top: 2px;
  right: 2px;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: $mauve12;

    svg {
      width: 28px;
      height: 28px;

      @media (min-width: 699px) {
        width: 38px;
        height: 38px;
      }
    }

    & :hover {
      color: $mauve11;
    }
  }
}
