.config-wrapper {
  position: relative;
  background-color: $mauve1;
  display: flex;
  flex-direction: column;
  height: 700px;
  padding-top: 5rem;
  gap: 5rem;

  @media (min-width: 699px) {
    gap: 0;
    max-width: 1200px;
    display: grid;
    grid-template-columns: minmax(350px, 20vw) 1fr;
    grid-template-rows: 1fr 1fr 66px;
    grid-template-areas:
      "aside main"
      "aside main"
      "footer footer";
  }
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;

  margin: 0 2px;
}

.smite-accounts {
  h2 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;

    span {
      cursor: pointer;
    }
  }

  @media (min-width: 699px) {
    margin: auto 0;
  }
}

.twitch-profile {
  @media (min-width: 699px) {
    position: absolute;
    bottom: 1px;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 699px) {
    gap: 2rem;
  }

  h1 {
    font-family: "Squada One";
    text-transform: uppercase;
    text-shadow: 1px 1px 0 $purple8;
  }

  @media (min-width: 699px) {
    background-color: $mauve2;
  }
}

.footer {
  width: 100%;
  font-size: 0.7rem;
  position: absolute;
  bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mauve2;
  gap: 0.2rem;

  @media (min-width: 699px) {
    grid-area: footer;
    font-size: 0.9rem;
    position: initial;
    background-color: $mauve1;
  }
}

.reload {
  position: absolute;
  top: 2px;
  right: 2px;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: $mauve12;

    & :hover {
      color: $mauve11;
    }
  }
}
