* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: $violet12;
  font-family: "Open Sans", sans-serif;

  scroll-behavior: smooth;
  scrollbar-color: #9f9160 black;
  scrollbar-width: thin;
  scroll-snap-type: none;

  ::-webkit-scrollbar {
    background-color: black;
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9f9160;
  }
}

a {
  text-decoration: none;
  color: $violet12;
}
