.wrapper {
  outline: none;
  user-select: none;
}

.overlay {
  position: absolute;
  display: flex;
}

.maximized {
  max-height: 400px;

  .overlay-button {
    display: flex;
    justify-items: center;
    align-items: flex-end;
    button {
      height: 100px;
      width: 25px;
    }
  }

  .left {
    top: 25vh;
  }

  .right {
    top: 25vh;
  }
}

.overlay-button {
  display: flex;
  button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: white;
      opacity: 0.9;
    }
  }
}

.left {
  top: 50vh;
  left: 1px;
  flex-direction: row;

  @media screen and (max-width: 699px) {
    top: 1px;
  }
}

.right {
  top: 50vh;
  right: 5rem;
  flex-direction: row-reverse;

  @media screen and (max-width: 699px) {
    top: 1px;
  }
}

.top-left {
  top: 5rem;
  left: 1px;
  flex-direction: row;

  @media screen and (max-width: 699px) {
    top: 1px;
  }
}

.top-right {
  top: 5rem;
  right: 5rem;
  flex-direction: row-reverse;

  @media screen and (max-width: 699px) {
    top: 1px;
  }
}

.bottom-left {
  bottom: 5rem;
  left: 1px;
  flex-direction: row;

  @media screen and (max-width: 699px) {
    bottom: 1px;
  }
}

.bottom-right {
  bottom: 5rem;
  right: 5rem;
  flex-direction: row-reverse;

  @media screen and (max-width: 699px) {
    bottom: 1px;
  }
}
