.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    color: $mauve12;
    cursor: pointer;
    background-color: transparent;
    border: none;

    & :hover {
      color: $mauve11;
    }
  }
}
