.team-table {
  font-size: 0.6rem;
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;

  td {
    width: 76px;
  }

  .god-img {
    img,
    svg {
      object-fit: cover;
      width: 50px;
      height: 50px;
      vertical-align: bottom;
    }
  }

  .content-name {
    strong {
      font-family: "Open Sans", sans-serif;
    }
  }
}

.streamer-name {
  color: #ada176;
}

.small {
  font-size: 0.5rem;
}

.waiting-match {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: "Penumbra Flare";
  font-size: 28px;
}

.god-name {
  font-weight: normal;
}

.player-name {
  font-weight: bold;
}
