.wrapper {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.633);
  height: 52px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  object-fit: contain;
  z-index: 100;

  img {
    height: 42px;
    filter: brightness(0) saturate(100%) invert(13%) sepia(95%) saturate(7408%)
      hue-rotate(285deg) brightness(90%) contrast(103%);
  }
}

.controls-active {
  img {
    animation: ControlsActiveAnimation 5s forwards;
  }
}

@keyframes ControlsActiveAnimation {
  0% {
    filter: brightness(0) saturate(100%) invert(64%) sepia(35%) saturate(378%)
      hue-rotate(9deg) brightness(83%) contrast(92%);
  }
  100% {
    filter: brightness(0) saturate(100%) invert(13%) sepia(95%) saturate(7408%)
      hue-rotate(285deg) brightness(90%) contrast(103%);
  }
}
