.wrapper {
  position: absolute;
  cursor: pointer;
  font-family: "Penumbra Flare";
  color: #ffffff;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .overlay-icon {
    height: 40px;
  }

  strong {
    font-size: 0.7rem;
    opacity: 0;
    transition: margin ease 0.2s;
  }

  .show {
    opacity: 1;
    margin: 0;
  }
}

.active {
  img,
  strong {
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  }
}

.left {
  top: 50vh;
  left: 4px;

  strong {
    margin-left: -50px;
  }

  &:hover {
    strong {
      opacity: 1;
      margin-left: 0;
    }
  }
}

.right {
  flex-direction: row-reverse;
  top: 50vh;
  right: 5rem;

  strong {
    margin-right: -50px;
  }

  &:hover {
    strong {
      opacity: 1;
      margin-right: 0;
    }
  }
}

.top-left {
  top: 5rem;
  left: 4px;

  strong {
    margin-left: -50px;
  }

  &:hover {
    strong {
      opacity: 1;
      margin-left: 0;
    }
  }
}

.top-right {
  flex-direction: row-reverse;
  top: 5rem;
  right: 5rem;

  strong {
    margin-right: -50px;
  }

  &:hover {
    strong {
      opacity: 1;
      margin-right: 0;
    }
  }
}
.bottom-left {
  bottom: 5rem;
  left: 4px;

  strong {
    margin-left: -50px;
  }

  &:hover {
    strong {
      opacity: 1;
      margin-left: 0;
    }
  }
}

.bottom-right {
  flex-direction: row-reverse;
  bottom: 5rem;
  right: 5rem;

  strong {
    margin-right: -50px;
  }

  &:hover {
    strong {
      opacity: 1;
      margin-right: 0;
    }
  }
}
