@font-face {
  font-display: swap;
  font-family: "Penumbra Flare";
  src: url(/src/fonts/PenumbraFlareStd-Light.otf);
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: "Penumbra Flare";
  src: url(/src/fonts/PenumbraFlareStd-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "Penumbra Flare";
  src: url(/src/fonts/PenumbraFlareStd-Semibold.otf);
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-family: "Penumbra Flare";
  src: url(/src/fonts/PenumbraFlareStd-Bold.otf);
  font-weight: 700;
}

//

@font-face {
  font-display: swap;
  font-family: "Penumbra Half Serif";
  src: url(/src/fonts/PenumbraHalfSerifStd-Light.otf);
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: "Penumbra Half Serif";
  src: url(/src/fonts/PenumbraHalfSerifStd-Reg.otf);
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "Penumbra Half Serif";
  src: url(/src/fonts/PenumbraHalfSerifStd-SeBd.otf);
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-family: "Penumbra Half Serif";
  src: url(/src/fonts/PenumbraHalfSerifStd-Bold.otf);
  font-weight: 700;
}

//

@font-face {
  font-display: swap;
  font-family: "Smiticons";
  src: url(/src/fonts/Smiticons.woff);
  font-weight: 400;
}
