.wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: space-between;
}

.control {
  label {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
  }
  input {
    display: block;
    background-color: $mauve1;
    color: $violet12;
    border: none;
    line-height: 1.8rem;
    cursor: not-allowed;
    font-family: "Open Sans";
    font-size: 1rem;
  }
}

.actions {
  grid-column: span 2;
  justify-self: center;
  display: flex;
  gap: 2.5rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .confirm {
    color: $violet9;

    & :hover {
      color: $violet8;
    }
  }

  .close {
    color: $mauve12;

    & :hover {
      color: $mauve11;
    }
  }
}

.private-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    background-color: transparent;
    outline: none;
    border: none;
    color: $mauve12;

    &:hover {
      color: $mauve11;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
