.wrapper {
  display: grid;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    $purple1 0,
    #05111e 1px,
    $purple1 0,
    $purple1 50%
  );
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header"
    "main";
  overflow: hidden;
  animation: AnimateOpen forwards 0.5s;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    font-family: "Penumbra Flare";
    cursor: pointer;
    color: $purple12;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #9f9160;
    background-color: #05111e;
    outline: none;
    transition: color 0.2s ease;

    &:hover {
      color: #9f9160;
      background-color: $violet2;
    }
  }

  .active {
    background-color: $violet3;
  }

  .disabled {
    cursor: no-drop;
  }
}

.close {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: $purple12;

  svg {
    transition: all ease 0.2s;
  }

  &:hover {
    svg {
      color: #9f9160;
      transform: scale(1.2, 1.2);
    }
  }
}

.main {
  grid-area: main;
  display: flex;
}

.logo {
  height: 50px;
}

@keyframes AnimateOpen {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 600px;
    height: 400px;
  }
}
